<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if keywords}}
      <meta name="keywords" content="{{keywords}}">
    {{/if}}
    {{#each customTags}}
      <meta name="{{@key}}" content="{{.}}">
    {{/each}}
    {{#if description}}
      <meta name="description" content="{{description}}">
    {{/if}}
    {{#if page.url}}
    <link rel="canonical" href="{{page.url}}">
    {{/if}}
    <link rel="stylesheet" href="{{@root.uiRootPath}}/stylesheets/index.css">
    <title>{{#if page.title}}{{{page.title}}} - {{/if}}{{site.title}}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{{@root.uiRootPath}}/images/favicon-16x16.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{@root.uiRootPath}}/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="{{@root.uiRootPath}}/images/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="192x192"  href="{{@root.uiRootPath}}/images/favicon-192x192.png"/>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css">
    {{> head }}
    {{> intercom }}
  </head>
  <body class="flex col {{#if attrs}}{{attrs}}{{/if}}">
    {{> main }}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript"> docsearch({
      apiKey: 'cb0f82eda84539a9d0184ca17e2ad816',
      indexName: 'openzeppelin',
      inputSelector: '.search-input',
      debug: false // Set debug to true if you want to inspect the dropdown
    });
    </script> 
  </body>
</html>
