<nav id="sidr" class="nav" data-component="{{@root.page.component.name}}" data-is-home="{{home}}"
  data-is-site-aspect="{{component.siteAspect}}" data-version="{{component.version.string}}" role="navigation">
  <span class="close-menu-btn"></span>
  <div class="flex align-center search">
    <input class="input" placeholder="Search" type="search">
  </div>

  {{#if (eq @root.page.component.name "openzeppelin")}}
    <div class="nav-components">
    {{#sorted site.components "openzeppelin, contracts, sdk, starter-kit"}}
    <div class="nav-component">
      <a class="flex align-center" href="{{{./url}}}" tabindex="0">
        <img class="nav-icon" src="{{@root.uiRootPath}}/images/icons/{{{this.name}}}.svg">
        <span class="nav-component-heading">{{{./title}}}</span>
      </a>
    </div>
    {{/sorted}}
  </div>

  {{else}}
  {{#with @root.page.component}}
  <a class="btn-back" href="{{{@root.site.url}}}">Home</a>
  <div class="nav-component {{#if (eq this @root.page.component)}}nav-component-active{{/if}}">

    <div class="flex justify-justified nav-heading">
      <span class="">{{{./title}}}</span>
      <div class="component-version">
        {{#if (and versions (eq this @root.page.component))}}
        {{#unless (eq versions.length 1)}}
        <button class="flex align-center shrink btn btn-version">
          {{@root.page.componentVersion.displayVersion}}
        </button>
        <div class="popover-container">
          <div class="popover">
            <p>Current version</p>
            <ul>
              <li>
                {{#with latestVersion}}
                  <a href="{{{url}}}">{{displayVersion}}</a>
                {{/with}}
              </li>
            </ul>
            <p>Previous versions</p>
            <ul>
              {{#each versions}}
                {{#unless (eq this ../latestVersion)}}
                  <li>
                    <a href="{{{url}}}">{{displayVersion}}</a>
                  </li>
                {{/unless}}
              {{/each}}
            </ul>
          </div>
        </div>
        {{/unless}}
        {{/if}}
      </div>
    </div>
    {{#if (eq this @root.page.component)}}
    {{> navigation-tree items=@root.page.navigation}}
    {{/if}}
  </div>

  {{/with}}
  {{/if}}

</nav>
