<nav id="sidr" class="nav" data-component="{{component.name}}" data-is-home="{{home}}"
  data-is-site-aspect="{{component.siteAspect}}" data-version="{{component.version.string}}" role="navigation">
  <span class="close-menu-btn"></span>
  <div class="flex align-center search">
    <input class="input" placeholder="Search" type="search">
  </div>

  <div class="nav-components">
    {{#sorted site.components "openzeppelin, contracts, sdk, starter-kits, test-environment, test-helpers, network.js, gsn-provider, gsn-helpers"}}
    <div class="nav-component {{#if (eq this @root.page.component)}}nav-component-active{{/if}}">
      <div
        class="flex align-center justify-justified nav-heading nav-component-heading {{#if (eq this @root.page.component)}}nav-heading-active{{/if}}">
        <a class="flex grow align-center link {{#if (eq this @root.page.component)}}nav-link-active{{/if}}"
          href="{{{./url}}}" tabindex="0">
          <img class="nav-icon {{#if (eq this @root.page.component)}}filter-active-icon{{/if}}"
            src="{{@root.uiRootPath}}/images/icons/{{{this.name}}}.svg">
          <span class="flex grow">{{{./title}}}</span>
        </a>
        <div class="component-version">
          {{#if (and versions (eq this @root.page.component))}}
          {{#unless (eq versions.length 1)}}
          <button class="flex align-center shrink btn btn-version">
            {{@root.page.componentVersion.displayVersion}}
            {{!-- @@include('public/_theme/images/icons/chevron.svg')--}}
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#000" viewBox="0 0 30 30">
              <path d="M15.003 21.284L6.563 9.232l1.928-.516 6.512 9.299 6.506-9.299
                    1.928.516-8.434 12.052z" />
            </svg>
          </button>
          <div class="popover-container">
            <div class="popover">
              <p>Current version</p>
              <ul>
                <li>
                  {{#with latestVersion}}
                    <a href="{{{url}}}">{{displayVersion}}</a>
                  {{/with}}
                </li>
              </ul>
              <p>Previous versions</p>
              <ul>
                {{#each versions}}
                  {{#unless (eq this ../latestVersion)}}
                    <li>
                      <a href="{{{url}}}">{{displayVersion}}</a>
                    </li>
                  {{/unless}}
                {{/each}}
              </ul>
            </div>
          </div>
          {{/unless}}
          {{/if}}
        </div>
      </div>
      {{#if (eq this @root.page.component)}}
      {{> navigation-tree items=@root.page.navigation}}
      {{/if}}
    </div>
    {{/sorted}}
  </div>
</nav>
