{{#if items}}
<ol class="nav-list">
  {{#each items}}
  <li class="nav-li" data-depth="{{#if ../level}}{{../level}}{{else}}0{{/if}}" {{#if currentPath}}data-state="expanded"
    {{/if}}>
    {{#if url}}
    <a class="flex shrink align-center link nav-link{{#if (eq url @root.page.url)}} nav-link-active{{/if}}{{#if items}} collapsible{{/if}}"
      href="{{{./url}}}">
      {{{./content}}}
    </a>
    {{else}}
    {{#if content}}
    <span class="flex shrink align-center nav-heading collapsible">{{{./content}}}</span>
    {{/if}}
    {{/if}}
    {{!-- Nesting --}}
    {{#if items}}
    <ol class="nav-list collapsible-content">
      {{> navigation-tree navigation=./items level=(increment ../level) }}
    </ol>
    {{/if}}
  </li>
  {{/each}}
</ol>
{{/if}}
