{{#each items}}
<li class="nav-li fade {{#if ./currentPath}}active{{/if}} {{#if ./currentPage}}active{{/if}}" data-depth="{{#if ../level}}{{../level}}{{else}}0{{/if}}"{{#if ./currentPath}} data-state="expanded"{{/if}}>
  {{#if ./url}}
  <a class="flex shrink align-center link nav-link" href="{{{./url}}}">{{{./title}}}</a>
  {{else}}
  <span class="flex shrink align-center nav-heading">{{{./title}}}</span>
  {{/if}}
  {{!-- Nesting --}}
  {{#if ./items}}
  <ol class="nested-list">
    {{> navigation-tree navigation=./items level=(increment ../level) }}
  </ol>
  {{/if}}
{{/each}}