<div class="article-wrapper">
	<article class="article doc">
		{{#if (in @root.page.component.name "cli, upgrades")}}
			<div class="article-banner">
                          OpenZeppelin SDK is not being actively developed. We recommend using <a href="/upgrades-plugins">Upgrades Plugins</a> instead. For more information, see <a href="https://forum.openzeppelin.com/t/building-for-interoperability-why-we-re-focusing-on-upgrades-plugins/4088" target="_blank">Building for interoperability: why we’re focusing on Upgrades Plugins</a>.
			</div>
		{{/if}}
		{{#if (in @root.page.component.name "network-js, gsn-provider, gsn-helpers, starter-kits")}}
			<div class="article-banner">
			<b>{{@root.page.component.title}}</b> is deprecated. We are no longer developing new features nor addressing issues. Read <a href="https://forum.openzeppelin.com/t/doubling-down-in-security/2712" target="_blank">here</a> for more info.
			</div>
		{{/if}}
        {{#if page.title}}
          <h1>{{{page.title}}}</h1>
        {{/if}}
		{{{page.contents}}}
                <div class="article-navigation">
                {{#if page.previous}}
                 	<div class="btn-previous"><a href="{{{page.previous.url}}}">&larr; {{{page.previous.content}}}</a></div>
                {{/if}}
                {{#if page.next}}
                	<div class="btn-next"><a href="{{{page.next.url}}}">{{{page.next.content}}} &rarr;</a></div>
                {{/if}}
                </div>
	</article>
	{{> toc}}
</div>
