<header class="sticky top-0 z-40 bg-white h-header px-7 border-b flex gap-8 items-center">
  <a class="flex-none" href="{{{or site.homeUrl "/"}}}">
    <img alt="OpenZeppelin Docs" src="{{{uiRootPath}}}/img/title.svg" class="h-6" />
  </a>

  {{#if env.SITE_SEARCH_PROVIDER}}
  <div class="relative" id="search-field">
    <input class="rounded py-2 px-3 bg-slate-50 border" id="search-input" type="text" placeholder="{{#if (eq @root.page.component.name "ROOT")}}Search{{else}}Search {{@root.page.component.title}}{{/if}}">
    {{#unless (eq page.component.name "ROOT")}}
    <input class="hidden" type="checkbox" checked data-facet-filter="component:{{page.component.name}}">
    {{/unless}}
  </div>
  {{/if}}

  <nav class="text-slate-500">
    <ul class="flex gap-5">
      {{#each (pick site.components "learn, defender, contracts, upgrades-plugins")}}
      <li class="">
        <a href="{{{url}}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
  </nav>
</header>
