<header class="header">
  <nav class="navbar">
    <button class="navbar-burger sidr-toggle">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
      </svg>
    </button>
    <div class="navbar-logo">
      <a href="{{@root.site.url}}">
        <img height="48px" src="{{@root.site.ui.url}}/images/etherisc_logo.svg">
      </a>
    </div>

    <div id="search-field" class="navbar-search">
      <input class="navbar-search-input" id="search-input" type="text"
        placeholder="{{#if (eq @root.page.component.name " ROOT")}}Search{{else}}Search
        {{@root.page.component.title}}{{/if}}">
      {{#unless (eq @root.page.component.name "ROOT")}}
      <input class="navbar-search-filter" type="checkbox" data-facet-filter="component:{{page.component.name}}" checked>
      {{/unless}}
    </div>

    <div class="navbar-end">
      <a class="navbar-item" href="https://github.com/etherisc">GitHub</a>
      <a class="navbar-item" href="https://discord.gg/cVsgakVG4R">Discord</a>
      <a class="navbar-item" href="https://blog.etherisc.com">Blog</a>
      <a class="navbar-item" href="https://etherisc.com">Website</a>
    </div>
  </nav>
</header>