<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if keywords}}
      <meta name="keywords" content="{{keywords}}">
    {{/if}}
    {{#each customTags}}
      <meta name="{{@key}}" content="{{.}}">
    {{/each}}
    {{#if page.url}}
    <link rel="canonical" href="{{canonicalize page.url}}">
    {{/if}}
    <link rel="stylesheet" href="{{@root.site.ui.url}}/dist/index.css">
    <title>{{#if page.title}}{{{page.title}}} - {{/if}}{{site.title}}</title>
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="{{#if page.title}}{{{page.title}}} - {{/if}}{{site.title}}">
    <meta property="og:image" content="{{@root.site.url}}{{@root.site.ui.url}}/images/social.png">
    {{#if description}}
      <meta name="description" content="{{description}}">
      <meta property="og:description" content="{{description}}">
    {{/if}}
    <link rel="icon" type="image/png" sizes="16x16" href="{{@root.site.ui.url}}/images/favicon-16x16.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{@root.site.ui.url}}/images/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="{{@root.site.ui.url}}/images/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="192x192"  href="{{@root.site.ui.url}}/images/favicon-192x192.png"/>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap"
      rel="stylesheet">
    {{> head }}
  </head>
  <body class="{{#if (in 'notoc' page.attributes)}}notoc{{/if}}">
    {{> icons}}
    {{> main }}
    {{> hubspot }}
    {{> optinmonster }}
  </body>
</html>
